.navbar {
   background-color: lightcyan;
   height: 15%;
   width: 100%;
   text-align: center;
   position: fixed;
   z-index: 1;
   margin-top: 0;
   box-shadow: 0 10px 10px -10px rgba(0,0,0,5);

}

.home {
    font-family: 'Times New Roman', Times, serif;
    color: goldenrod;
    font-weight: bolder;
    font-size: 30px;
}

.title, .score {
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    
}