footer {
    height: 30;
    background-color: lightcyan;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    font-size: 20;
    width: 100%;
    clear: both;   
    
}